# CMake tmp files and directories
*build/
*bin/
*CMakeCache.txt
*CMakeFiles

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Haskell
*.hi

# Python
__pycache__
catboost_info
.pytest_cache

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz

# VSCode and MacOS 
.vscode/
.DS_Store